body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.server {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

p {
    margin: 10px 0;
}

#server-status {
    font-weight: bold;
}
